* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --card-title-border-color: #746615;
  --card-color-primary: #f7dd43;
  --card-color-secondary: #338af3;
  --white-primary: #e1e1e6;
}

ul {
  list-style: none;
}

body {
  background-color: #121214;
  background-image: url(assets/bg.svg);
  background-position-x: center;
  background-position-y: -615px;
}

body * {
  font-family: "Roboto", sans-serif;
}

#app {
  width: fit-content;
  margin: 52px auto;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

#sb-button {
  visibility: hidden;
}

nav {
  margin-bottom: 85px;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 35px;
}

nav ul li {
  display: flex;
  list-style: none;
  width: 164px;
  border-radius: 6px;
  border: 2px solid var(--card-color-primary);
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s;
}

nav ul li a {
  text-decoration: none;
  color: var(--white-primary);
  padding-block: 14px;
  flex-grow: 1;
  height: 100%;
}

nav ul li:hover {
  transform: scale(1.1);
}

#cards {
  display: flex;
  justify-content: center;
  max-width: 1080px;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  padding: 27px 23px 32px 23px;
  text-align: center;
  background: #1d1c19;
  border-top: 2px solid var(--card-color-primary);
  border-bottom: 2px solid var(--card-color-secondary);
  border-radius: 6px;
}

section {
  margin-right: 32px;
  margin-bottom: 32px;
}
section:nth-of-type(3n) {
  margin-right: 0;
}

section h2 {
  padding: 8px 16px;
  border: 2px solid var(--card-color-primary);
  border-radius: 6px;

  display: flex;
  width: fit-content;
  margin-inline: auto;
  gap: 16px;
  justify-content: center;
  align-items: center;

  color: var(--card-color-primary);

  transition: 0.3s;
}

section h2:hover {
  transform: scale(1.1) translateY(-2px);
  cursor: pointer;
}

section h2 span {
  color: var(--white-primary);
  font-size: 14px;
  text-transform: uppercase;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 270px;
}

.card ul li {
  display: none;
  align-items: center;
  justify-content: space-between;
}

.card ul li + li {
  padding-top: 24px;
  border-top: 1px solid #323238;
}

.card ul li strong {
  font-weight: 900;
  font-size: 36px;
  line-height: 125%;
  color: var(--white-primary);
}

.card {
  opacity: 0;
}

@keyframes close-card {
  from {
    opacity: 1;
    height: fit-content;
  }
  to {
    opacity: 0;
    height: 10px;
  }
}

@media (max-width: 1026px ) {
  section:nth-of-type(3n) {
    margin-right: 32px;
  }
}

@media (max-width: 770px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  #cards {
    justify-content: center;
    max-width: 480px;
  }
  #sb-button {
    visibility: visible;
    margin: 0 60px;
  }
  #menu-principal {
    display: none;
  }
}

@media (max-width: 600px) {
}
